<div class="container">
<form>
 <fieldset>
  <legend>Form di inserimento:</legend>
  Nome:  <br><input type="text" id="nome" value=""><br>
  Cognome:  <br><input type="text" id="cognome" value=""><br>
  Indirizzo:  <br><input type="text" id="indirizzo" value=""><br>
  Telefono:  <br><input type="text" id="telefono" value=""><br>
  Email:  <br><input type="text" id="email" value=""><br>
  Data prenotazione:  <br><input type="text" id="data" value=""><br>
  Ora prenotrazione:  <br><input type="text" id="ora" value=""><br>
  <button type="submit" (click)="vadym(nome.value, cognome.value, indirizzo.value, telefono.value, email.value, data.value, ora.value)">Invia</button>
 </fieldset>
</form>
</div>
<br><br>
<div *ngFor="let art of fooData">
<form>
 <fieldset>
  <legend>Lista prenotazioni:</legend>
      <p (click)="wen(art)">{{art.data}} - {{art.ora}} -> {{art.nome}} {{art.cognome}}</p>
 </fieldset>
</form>
</div>
<br><br>
<div class="container">
<form>
 <fieldset>
  <legend>Info:</legend>
    <app-info
    *ngIf="ween" [art]="ween">
  </app-info>
 </fieldset>
</form>
</div>
